<div>
  <app-header></app-header>
</div>


<div class="mx-5">
    
  <div class="row">
   
    <div class="col-sm-6">
       <h2> Facebook helps you connect and share with the people in your life.</h2>
       <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/GwFs3_KxNjS.png">
      </div>

      <div class="col-sm-6 ">
      <h1>Create an account</h1>
      <h5>It's free and always will be</h5>
      <app-inputbox></app-inputbox>
      <app-register></app-register>
    </div>

    </div>
    </div>
