<div class="d-flex">
  <form>
    <div class="form-inline d-flex align-items-end">
        <div>
          <input class="form-control mr-sm-2" type="text" placeholder="First name">
        </div>
      
        <div>
          <input class="form-control" type="text" placeholder="Last name">
        </div>
    </div>
    <div>
        <input class="form-control mr-sm-2" type="text" placeholder="Mobile Number or email address">
    </div>
    <div>
        <input class="form-control mr-sm-2" type="password" placeholder="New password">
    </div>
    <div>
      <label>Birthday</label>
      <input type="date">
    </div>
    <div class="form-inline ">
    
      <div class="form-inline ">
      <input type="radio">
      <label class="mx-1">Male</label>
    </div>
    
    <div class="form-inline mx-2">
        
        <input type="radio">
        <label class="mx-1">Female</label>
      </div>
  </div>
  <app-submitbtn></app-submitbtn>
  </form>
</div>
