<div class="d-flex">
  <form>
    <div class="form-inline d-flex align-items-end my-1">
        <div>
          <input class="form-control mr-sm-2" type="text" placeholder="First name">
        </div>
      
        <div>
          <input class="form-control" type="text" placeholder="Last name">
        </div>
    </div>
    <div class="my-1">
        <input class="form-control mr-sm-2" type="text" placeholder="Mobile Number or email address">
    </div>
    <div class="my-1">
        <input class="form-control mr-sm-2" type="password" placeholder="New password">
    </div>
    <div class="my-1">
      <label class=" mx-1 my-1">Birthday</label>
      <input type="date">
    </div>
    <div class="form-inline my-1 ">
  
      <div class="form-inline">
      <input name="gender" type="radio">
      <label  class="mx-1">Male</label>
    </div>
    
    <div class="form-inline mx-2">
        
        <input name="gender" type="radio">
        <label class="mx-1">Female</label>
      </div>
  </div>
  <app-submitbtn [btn]=submitbtn></app-submitbtn>
  </form>
</div>
